html,body{
    width:98.8%;
    height:100%;
    margin: 5px;
    padding: 0px;
    font-family: 'Bebas Neve', cursive;
}
body{
    background-color: black;
}
#barranavegacion ul{
    width:100%;
    background-color: rgba(123, 117, 117, 0.664);
    opacity: 1;
    list-style:none;
    font: bold 1em verdana, sans-serif;
    padding: 5px;
    justify-content: center;
    border-radius: 10px;

    

}
#barranavegacion ul li{
    display: inline-block;
    padding: 10px 1px;
    width:19.1%;
    margin: 2px;
    text-align: center;
    border-radius: 10px;
}

#barranavegacion ul li ,a{
    text-decoration: none;
    color: white;
}
#barranavegacion ul :hover{
  background-color: rgba(255, 255, 255, 0.342);
  
}
#barranavegacion ul li :hover{
    background-color: rgba(255, 255, 255, 0);
   
    color: rgb(0, 0, 0);
  }


#pri{
    width:100%;
    height: 70%;
    background-color: rgba(114, 91, 114, 0.235);
    display: flex;
    text-align: justify;
    margin: 10px;
}
#sec1{
   color: white;
    width: 30%;
    margin: auto;
    padding: 3%;
    
    border-radius: 5px;
   
}
#sec1 h1{
    font-size: 25px;
}
#sec2{
   
    width: 40%;
    overflow: hidden;
  
}
#sec2 img{
    border-radius: 10px;
    width: 100%;
    height:550px;
    position: relative;
    background-size: cover;
}

    

footer{
    width: 100%;
    color: white;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    background-image: linear-gradient(rgba(8,19,41,255),rgba(131,104,207,255), rgba(32,201,172,255) ,rgba(35,33,140,255));
}
#caja{
    width: 100%;
    display: flex;
}
#c1{
    width:30%;
    margin: auto;
    text-align: center;
    
}
#correo{
    color: black;
}
 
#c2{
    width: 50%;
    text-align:center;

}
.logo{ 
    
    display: flex;
    text-align: center;
}
.logo img{
    width: 15%;
    margin-left: 70%;
    
}
.logo label{
 position: relative;
 width: 100%;
 
 overflow: hidden;
 text-align: left;
}
.logo a{
    
    text-align: center;
    margin-left: 20%;
    display: flex;
    overflow: hidden;
    width:50%;
}
#derecho{
    text-align: center;
    border-top: 5px solid rgb(255, 255, 255);
}
