html,body{
    width:98.8%;
    height:100%;
    margin: 5px;
    padding: 0px;
    font-family: 'Bebas Neve', cursive;
}
body{
    background-color: black;
    
}
#barranavegacion ul{
    width:100%;
    background-color: rgba(123, 117, 117, 0.664);
    opacity: 1;
    list-style:none;
    font: bold 1em verdana, sans-serif;
    padding: 5px;
    justify-content: center;
    border-radius: 10px;


    

}
#barranavegacion ul li{
    display: inline-block;
    padding: 10px 1px;
    width:19.1%;
    margin: 2px;
    text-align: center;
    border-radius: 10px;
}

#barranavegacion ul li ,a{
    text-decoration: none;
    color: white;
}
#barranavegacion ul :hover{
  background-color: rgba(255, 255, 255, 0.342);
  
}
#barranavegacion ul li :hover{
    background-color: rgba(255, 255, 255, 0);
   
    color: rgb(0, 0, 0);
  }


 #sec1{
     
      width: 100%;
      
  }
  #sec1 video{
      width:100%;
      border: 2px solid rgb(255, 255, 255);
      margin: 5px;
  }
  #sec2 article{
      background-color: rgba(137, 132, 137, 0.411);
      display: inline-block;
      justify-content: center;
      color: white;
      width: 31%;
      margin: 1px;
      overflow: hidden;
      padding: 10px;
      margin-left: 13px;
      text-align: center;
      height: 400px;
      border-radius: 15px;
      margin-top: 40px;

  }
  #sec2 article:hover{
    box-shadow:  5px 5px 20px rgba(0.0.0.4);
    transform: translateY(-7%);
    background-image: linear-gradient(rgba(131,104,207,255), rgba(32,201,172,255) ,rgba(8,19,41,255));
    }
  }
  #sec3{
      width: 100%;
     
   
  }
  #sec3 video{
    border: 2px solid rgb(255, 255, 255);
      width: 100%;
      margin: 10px;
     
  }
  #sec4 {
      width: 100%;
     padding: 5px;
      margin: 10px;
      margin-top: 30px;
      display: inline-block;
 

  }
  #sec4 article{
      width: 24.5%;
      height: 250px;
      color: white;
      overflow: hidden;
      display:inline-block;
     
      background-size: cover;
      text-align:justify ;
  }
  #sec4 img{
      display: flex;
      width: 100%;
  }

    
footer{
    width: 100%;
    color: white;
    border-radius: 5px;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    background-image: linear-gradient(rgba(8,19,41,255),rgba(131,104,207,255), rgba(32,201,172,255) ,rgba(35,33,140,255));
}
#caja{
    width: 100%;
    display: flex;
}
#c1{
    width:30%;
    margin: auto;
    text-align: center;
    
}
#correo{
    color: black;
}
 
#c2{
    width: 50%;
    text-align:center;

}
.logo{ 
    
    display: flex;
    text-align: center;
}
.logo img{
    width: 15%;
    margin-left: 70%;
    
}
.logo label{
 position: relative;
 width: 100%;
 
 overflow: hidden;
 text-align: left;
}
.logo a{
    
    text-align: center;
    margin-left: 20%;
    display: flex;
    overflow: hidden;
    width:50%;
}
#derecho{
    text-align: center;
    border-top: 5px solid rgb(255, 255, 255);
}
